.userListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Расстояние между карточками */
  width: 100%;
  margin-top: 20px;
}

.userList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки на широких экранах */
  gap: 20px; /* Расстояние между карточками */
  overflow: hidden;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; /* Одна колонка на мобильных устройствах */
    gap: 15px; /* Уменьшаем расстояние между карточками на мобильных устройствах */
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #fff; /* Белый фон */
  border-top: 1px solid #ccc; /* Верхняя граница */
  z-index: 10; /* Положение поверх других элементов */
}

.paginationButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: #999; /* Цвет кнопки в неактивном состоянии */
    cursor: not-allowed;
  }
}

.pageNumber {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0 10px;
  color: #333;
  font-weight: 400;
}
