.comparisonItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.comparisonField {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;

  span {
    text-align: start;
    color: black ;
    @media (max-width: 768px) {
      font-size: 14px ;
    }
  }
}

.winner {
  background-color: #d4edda;
  border-color: #28a745;
}

.loser {
  background-color: #f8d7da;
  border-color: #dc3545;
}

span {
  font-weight: bold;
}
