.userProfile {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: #f9f9f9;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

   img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover {
         transform: scale(1.1);
      }
   }

   h2 {
      margin-bottom: 15px;
      color: #61dafb;
   }

   p {
      margin-bottom: 10px; // Увеличен отступ между параграфами
      color: #555;
      display: flex;
      align-items: center;

      .icon {
         margin-right: 8px;
         font-size: 1em; // Уменьшен размер иконок
         color: #777;
      }
   }

   a {
      color: #007bff;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
   }

   .repoSection {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      margin-top: 20px;

      @media (min-width: 768px) {
         flex-direction: row;
         justify-content: space-between;
      }

      .repoList {
         flex: 1;

         h3 {
            margin-bottom: 10px;
            color: #333;
         }

         ul {
            list-style: none;
            padding: 0;

            li {
               background-color: #fff;
               border: 1px solid #ccc;
               border-radius: 8px;
               padding: 10px;
               margin-bottom: 10px;
               cursor: pointer;
               transition: box-shadow 0.3s ease, transform 0.3s ease;

               &:hover {
                  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                  transform: scale(1.02);
               }

               .repoHeader {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  column-gap: 20px;

                  p {
                     display: flex;
                     align-items: center;
                     margin: 0;
                     white-space: nowrap; // Чтобы звезды и текст были на одной линии
                     min-width: 45px;
                  }
               }

               .repoDetails {
                  margin-top: 10px;
                  border-top: 1px solid #ccc;
                  padding-top: 10px;

                  h4 {
                     margin-bottom: 5px;
                     color: #333;
                     display: flex;
                     align-items: center;

                     .icon {
                        margin-right: 5px;
                     }
                  }

                  ul {
                     list-style: none;
                     padding: 0;

                     li {
                        margin-bottom: 5px;
                        color: black;
                     }
                  }
               }
            }
         }
      }
   }
}
